<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>headerlinks}}

</head>
<body>

   {{>navbar}}  
  
    <!----Main Header---->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                   <div class="row">
                       <!-- left side div -->
                       <div class="col-md-10 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                          <img src="./images/404.png" alt="Amrita" class="img-fluid" title="Amrita kadyan"> </figure>
                      
                            <p>Welcome To Engineering World!</p>
                            <h1>{{errorMsg}}</h1>
                            <a href="/"><button>Go back</button></a>
                       </div>
                       <!-- right side div -->
                      

                       </div>
                   </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>